@using MatBlazor
@layout ForgotPasswordLayout
@page "/forgotpassword"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
<PageTitle> ForgotPassword </PageTitle>
<h1>ForgotPassword</h1>

<EditForm Model="@_forgotPasswordDto" OnValidSubmit="OnForgotPassword">
    <DataAnnotationsValidator />

    <div class="col-md-12 ">
        <MatTextField @bind-Value="@_forgotPasswordDto.Email" Outlined="true" Label="Email" Style="width: 100%;" />
        <ValidationMessage For="@(() => _forgotPasswordDto.Email)" />
    </div>

    <div class="col-12 mt-3">
        <MatButton Type="submit" Raised="true" Color="MatButtonColor.Primary">


            Submit
        </MatButton>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <MatButtonLink Href="/">
                Login
            </MatButtonLink>
        </div>
    </div>
    <ValidationSummary />
    <MatToastContainer />
</EditForm>
<GlobalLoader />
@code {
    [Inject]
    public NavigationManager _navigationManager { get; set; }

    private ForgotPasswordDto _forgotPasswordDto = new ForgotPasswordDto();

    [Inject]
    private IMatToaster Toaster { get; set; }

    private bool _isLoading = false;

    [Inject]
    public HttpClient Http { get; set; }
    private async Task OnForgotPassword()
    {
        if (_forgotPasswordDto.Email == null || string.IsNullOrWhiteSpace(_forgotPasswordDto.Email))
        {
            Toaster.Add("Email is required", MatToastType.Danger);
            return;
        }

        var response = await Http.PostAsJsonAsync("api/Patient/ForgotPassword", _forgotPasswordDto);
        _isLoading = true;
        if (response.IsSuccessStatusCode)
        {
            Toaster.Add("Email sent successfully", MatToastType.Success);
            _navigationManager.NavigateTo("/patientlogin");
        }
        else
        {
            _isLoading = false;
            Toaster.Add("Failed to send email", MatToastType.Danger);
        }

    }
}