@page "/patientdashboard"
@layout MainLayout
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>PatientDashboard</PageTitle>

<h1>WelCome Patient Dashboard</h1>

@code {

}
