@page "/staffregistration"
@layout RegisterLayout
<h3>StaffRegistration</h3>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    public List<Role> Roles { get; set; }

    private List<Country> Countries { get; set; }

    private List<State> States { get; set; }


    [Parameter]
    public JsonModel jsonModel { get; set; }

    public StaffRegistrationDto registerDto = new StaffRegistrationDto();

    [Inject]
    private HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Roles = await Http.GetFromJsonAsync<List<Role>>("api/Role/GetAllRoles");
        Countries = await Http.GetFromJsonAsync<List<Country>>("api/Country/GetAllCountries");
        States = await Http.GetFromJsonAsync<List<State>>("api/State/GetAllStates");
    }

    private async Task HandleValidSubmit()
    {
        await Http.PostAsJsonAsync("api/Patient/RegisterPatient", registerDto);
        NavigationManager.NavigateTo("/patientlogin");
    }


}
