@page "/Appoinment/PatientUpcomingAppoinment"
@layout MainLayout
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
<h3>PatientUpcomingAppoinment</h3>

@code {
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    [Inject]
    private HttpClient Http { get; set; }

    // private List<StaffRegistrationDto> staff = new List<StaffRegistrationDto>();

    private JsonResponseDto? jsonResponseDto;

    protected override async Task OnInitializedAsync()
    {
        jsonResponseDto = await Http.GetFromJsonAsync<JsonResponseDto>("api/Appoinment/GetAppoinmenByStaffId");
    }
}
