@using Microsoft.AspNetCore.Components.Authorization
@using MatBlazor
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<div style="display: none;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Show toast message using JavaScript since MatToaster might not be available on server-side
            await JSRuntime.InvokeVoidAsync("eval", "console.log('Please login first - redirecting to login page');");
            
            // Redirect to login page
            Navigation.NavigateTo("/patientlogin", forceLoad: true);
        }
    }
}
