@layout LoginLayout
@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h3>Welcome to CareBridge </h3>

<div class="row">
    <div class="col-4">
        <MatButton Raised="true" OnClick="@GoToPatient" Style="margin-right: 10px;">
            Go to Patient
        </MatButton>
    </div>
    <div class="col-4">

        <MatButton Raised="true" OnClick="@GoToStaff">
            Go to Staff
        </MatButton>
    </div>
    <div class="col-4">
        <MatButton Raised="true" OnClick="@GoToSuperAdmin" Style="margin-right: 10px;">Super Admin </MatButton>
    </div>
</div>


@code {

    [Inject]
    NavigationManager Navigation { get; set; }

    private void GoToPatient()
    {
        Navigation.NavigateTo("/patientlogin");
    }

    private void GoToStaff()
    {
        Navigation.NavigateTo("/staff/stafflogin");
    }

    private void GoToSuperAdmin()
    {
        Navigation.NavigateTo("/superadmin/superadminlogin");
    }
}
